@import "bootstrap";

tr {
  color: black;
  font-size: 1.5em;
  letter-spacing: 0.25px;
  word-spacing: 0.5px;
  padding: 3px;
  font-family: "Estrangelo Edessa", Georgia, Arial;
}

td {
  padding: 7px;
}

body {
  padding-top:80px;
}

h1{
  color: #000;
  font-family: "Estrangelo Edessa", Georgia, Arial;
  font-size: 3.2em;
  letter-spacing: 0.5px;
  text-align: center;
}


div.navbar-inner
{
  font-size: 1.5em;
  font-family: "Estrangelo Edessa", Georgia, Arial;
  line-height:125%;
  color: white;
}



.float-text-right{
  position: absolute;
  top: 200px;
  right: 550px;
  z-index: 1;
  }

.field{
  position: fixed;
  top: 150px;
  left: 650px;
  width: 20px;
}

.hero-unit{
  background-color: #FFFFCC;
}
