@import "bootstrap";

tr {
  color: black;
  font-size: 1.5em;
  letter-spacing: 0.25px;
  word-spacing: 0.5px;
  padding: 3px;
  font-family: "Estrangelo Edessa", Georgia, Arial;
}

td {
  padding: 7px;
}

body {
  padding-top:80px;
}

h1{
  color: #000;
  font-family: "Estrangelo Edessa", Georgia, Arial;
  font-size: 2.0em;
  letter-spacing: 0.5px;
  text-align: center;
}

h2{
  margin: -1px 0px;
  font-family: "Estrangelo Edessa", Georgia, Arial;
}

div.navbar-inner
{
  font-size: 1.5em;
  font-family: "Estrangelo Edessa", Georgia, Arial;
  line-height:125%;
  color: white;
}



.float-text-right{
  position: relative;
  top: -600px;
  text-align: right;
  margin-right: 250px;

  }


.field{
  margin-left: 15px;
}

.notice{
  margin-left: 15px;
}

.actions{
  margin-left: 15px;
}

.hero-unit{ 
  background-color: #FFFFCC;
}

.nav > li > a {
  color: #b43939;
  line-height: 12px;
  font-family: "Estrangelo Edessa", Georgia, Arial;
  font-size: 1.2em;
  text-shadow: 0px black 0px black 0px black 0px black;
  
}

.navbar-inverse .nav > li > a {
  color: $orange;
  &:visited {
    color: darken($orange, 10%);
  }
  &:hover{
    color: $btnWarningBackground;
  } 
}



hr {
  margin-top: -25px;
  margin-bottom: 12px;
  margin-left: 15px;
  border-style: solid;
  border-color: black;
}

hr.hr-event{ 
  text-align: center;
  margin-top: -5px;
  margin-bottom: 15px;
  margin-left: 810px;
  border-style: solid;
  border-color: black;
}  

h3{
  margin-left: 15px;
  font-family: "Segoe UI Light", Segoe UI, Georgia, Arial;
}

.vr
{
  border-left: 1px dotted black;
  max-height: 5000%;
  height: 150%;
  margin-top: 100px;
  margin-left: 1250px;
}

.float-text-right-new{
  position: relative;
  top: -443px;
  text-align: right;
  margin-right: 250px;
  }

p{
  color:black;
  padding: 6px;  
  font-size: 0.8em;
  font-family: "Estrangelo Edessa", Georgia, Arial;
}

.new_user{
  margin-left: 400px;
  font-family: "Estrangelo Edessa", Georgia, Arial;
  font-size: 1.2em;
}

h4{
  font-size: 4em;
  text-align: center;
  font-family: "Estrangelo Edessa", Georgia, Arial;
  margin-top: -50px;
  padding: 10px;
}

.login-field
{
  text-align: center;
  margin-left: -395px;
  padding: 5px;
}

.login-action
{
  text-align: center;
  margin-left: -395px;
  padding: 5px;
}

.login-form{
  text-align: center;
  padding: -5px;
   font-size: 1.3em;
  font-family: "Estrangelo Edessa", Georgia, Arial;
}

.nav.pull-right{
  margin-top: 5px;
}

.nav.pull-right-cal{
  float: right;
  margin-top: -40px;
}

.pull-left{
  margin-left: 15px;
}

h5.quotes {
  font-family: "Estrangelo Edessa", Georgia, Arial;
  font-size: 1.8em;

  letter-spacing: 1.25px;
}

td > a{
  color: $orange;
  &:visited {
    color: darken($orange, 10%);
  }
  &:hover{
    color: $btnWarningBackground;
  } 
}

a {
  color: $orange;
  &:visited {
    color: darken($orange, 10%);
  }
  &:hover{
    color: $btnWarningBackground;
  } 
}

.landing-text-top {
  text-align: center;
  color: white;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
  text-outline: 2px 2px #000;
  
}

.landing-text-middle {
  font-size: 2.5em;
  text-align: center;
  color: white;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000; 
  text-outline: 1px 1px #000;
}

.capital-letter {
  font-size: 4.5em;
}

.hero-unit-landing{
  background-color: darken($orange, 15%);
  border-radius: 650px 650px 650px 650px;
  padding: 40px;
}


.hero-unit-landing-header{ 
  background-image: url(office.jpg); 
  background-position: center;
  height: 400px;
  }
  
.right-landing{
  margin-right: 15px;
}

.center-landing{
  margin-left: 500px;
  margin-right: 500px;  
}
